@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="card">
        <div class="card-body">
            <a class="nav-link text-dark stretched-link" asp-area="" asp-controller="Appointments" asp-action="Index">Frontdesk</a>
        </div>
    </div>
</body>