@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="card">
        <div class="card-body">
            <div class="text-center">
    <h1  class="nav-link js-scroll-trigger">Hello @User.Identity.Name</h1>
</div>
        </div>
    </div>
</body>