@model Frontdesk6.Models.Frontdesk.Appointment

@{
    ViewData["Title"] = "layanan";
}
<head>
    <style>
        .cardsize
        {
            width:30px
        }
    </style>
</head>

<h1>Pilih Layanan</h1>


<hr />

    <div class="col-md-12">
      
                    <form asp-action="NoAdd">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="AppointmentID"/>
                            
                             <div class="card">
                                <div class="card-body">
                                    <div class="card-footer bg-transparent csize"><i class="fas fa-mountain" style="color:dimgray"></i>Sisterkaroline</div>
                                     <a class="btn buttonfx stretched-link" asp-action="Sisterkaroline" asp-route-id="@Model.AppointmentID"></a>
                                </div>
                            </div>
                             <div class="card">
                                <div class="card-body">
                                    <div class="card-footer bg-transparent csize"><i class="fas fa-mountain" style="color:dimgray"></i>Lainnya</div>
                                    <a class="btn buttonfx stretched-link" asp-action="NoSisterkaroline" asp-route-id="@Model.AppointmentID"></a>
                                </div>
                            </div>
                            
                       
                        

                    </form>
    </div>
    


<div>
    <a asp-action="Index">Batal</a>
</div>

